body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .heart-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
    animation: heartbeat 1.5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  
  .heart {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 25px;
    transform: rotate(-45deg);
    background-color: red;
    animation: heartBeatShadow 1.5s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
    clip-path: polygon(50% 15%, 100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(0.75);
    }
    20% {
      transform: scale(1);
    }
    40% {
      transform: scale(0.75);
    }
    60% {
      transform: scale(1);
    }
    80% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(0.75);
    }
  }
  
  @keyframes heartBeatShadow {
    0% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    }
    20% {
      box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
    }
    40% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    }
    60% {
      box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
    }
    80% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    }
    100% {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    }
  }
  